---
import { getCollection } from "astro:content";
import readingTime from "reading-time";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ContactForm from "../components/ContactForm.jsx";
import FeaturedBlogsContainer from "../components/FeaturedBlogsContainer.astro";
import FeaturedBlogPost from "../components/FeaturedBlogPost.astro";

const allPosts = await getCollection("posts")

console.log(allPosts);
const nonDraftPosts = allPosts.filter((p) => !p.data.draft);

const lastFivePosts = nonDraftPosts
  .sort((a, b) => {

    let dateA = new Date(a.data.pubDate),
      dateB = new Date(b.data.pubDate);
    if (dateA < dateB) return 1;
    if (dateA > dateB) return -1;
    return 0;
  })
  .slice(0, 5);


---

<Layout title="Jared Makes">
  <Header
  title={"Hello!"}
  subtitle={"I'm Jared Truscott"}
  image={"/images/about-home.webp"}
  description={"I am a maker of things. Currently I can be found slinging <code>divs</code> at <a href='https://mojoactive.com target='_blank'>MojoActive</a>. I primarily work in the <a href='https://jamstack.org/''>Jamstack</a>, but I'm not afraid to get my hands dirty <code code>sudoing</code> into some server-side code."}/>

      <FeaturedBlogsContainer>
      {
        lastFivePosts.map((p) => (
          <FeaturedBlogPost
            date={new Date(p.data.pubDate).toLocaleDateString("en-US", {
              month: "long",
              day: "numeric",
              year: "numeric",
            })}
            readTime={readingTime(p.body).text}
            title={p.data.title}
            description={p.data.description}
            tags={p.data.tags}
            url={"/posts/" + p.slug}
          />

        ))
      }
    </FeaturedBlogsContainer>

</Layout>
