---
import Layout from "../layouts/Layout.astro";
import Grid from "../components/Grid.astro";
import { Image } from "@astrojs/image/components";
import images from "./../../public/helpers/miniData.js";
import Header from "../components/Header.astro";
---

<Layout
  title="Minis"
  description="A collection of minis I've painted (primarily ~28mm, about the size of a Jolly Rancher)."
>
  <Header
    title="Minis"
    subtitle="It's art in bite-sized chunks!"
    description="A collection of minis I've painted (primarily ~28mm, about the size of a Jolly Rancher). I've really only been painting minis since 2022 recently I've started to take photos of my work. I try to post new ones here at least every other week. <span class='text-synth-yellow'>Click on an image to see more details</span>."
    image="/images/candyForScale.jpg"
  />
  <main class="px-8 pb-8 pt-16 mx-auto max-w-6xl sm:pt-24 lg:px-16">
    <Grid images={images} />
  </main>
</Layout>
