---
import ProjectsGrid from "../components/ProjectsGrid.jsx";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

const projects = [
  {
    name: "Astro Shop",
    description:
      "Hyper-performant e-commerce site built with Astro, Tailwind, and React.",
    link: "https://astro-shop-jm.vercel.app/",
  },
  {
    name: "Northline Express",
    description:
      "One of 8 sites I rebuilt and helped migrate from Magento 1 to Big Commerce for Online stores.",
    link: "https://www.northlineexpress.com/",
  },
  {
    name: "Tiger-Hunt",
    description:
      "A conversion of a static HTML site to a fully functional WordPress site.",
    link: "https://gunstockwood.com/",
  },
  {
    name: "Amazon Alexa",
    description:
      "I assisted on a series of projects for Voice Focused, a company that focused on disrupting the voice assistant market.",
    link: "https://vimeo.com/309762069?embedded=true&source=vimeo_logo&owner=93600914",
  },
];

const description = "I've worked on everything from very basic static HTML sites to coin mining apps on Alexa (Amazon did not like that one), to voice ordering KFC via Alexa, to some killer e-commerce sites. Be sure to check back, as I've always got something cooking.";
---


<Layout title="Projects" description={description}>
  <Header
    title="Projects"
    subtitle="Web & Voice"
    description={description}
    image="/images/magic8ball.webp"
  />
  <main >
    <ProjectsGrid projects={projects} />
  </main>
</Layout>
