---
import ProjectsGrid from "../components/ProjectsGrid.jsx";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import projects from "../data/projects.json";
import ols from "../data/ols.json";

const description =
  "I’ve worked on everything from basic static HTML sites to enterprise-level e-commerce platforms. Be sure to check back—there’s always something new in the works.";
---

<Layout title="Projects" description={description}>
  <Header
    title="Projects"
    subtitle="Web & Voice"
    description={description}
    image="/images/projects.svg"
  />
  <main>
    <h3
      class="text-2xl text-white/80 font-bold tracking-tighter mt-12 sm:text-3xl"
    >
      Online Stores
    </h3>
    <p class="text-white leading-relaxed p-4">
      This suite of stores was migrated from Magento to BigCommerce by myself
      and a small team. We completed the build and migration in less than a
      year. Although the sites have since undergone a nearly complete redesign,
      I’m still proud of the work we accomplished.
    </p>
    <ProjectsGrid projects={ols} groupName="ols" />

    <h3
      class="text-2xl text-white/80 font-bold tracking-tighter mt-2 sm:text-3xl"
    >
      Other Projects
    </h3>
    <p class="text-white leading-relaxed p-4">
      While most of my work has focused on building, migrating, and maintaining
      online store sites, I’ve also enjoyed working on a variety of other fun
      projects.
    </p>
    <ProjectsGrid projects={projects} groupName="misc" />
  </main>
</Layout>
