---
interface Props {
  title: string;
  image: string;
  alt?: string;
  subtitle?: string;
  description?: string;
}

import { Image } from "@astrojs/image/components";
import { ChevronDoubleDownIcon } from '@heroicons/react/24/outline'


const { title, image, subtitle, description, alt } = Astro.props;
---

<div class="bg-synth-blue p-1 relative top-0" id="header">
  <div
    class="flex justify-center bg-synth-purple bg-gradient-to-br from-synth-purple to-synth-black p-10 -ml-4 shadow-md shadow-slate-900 text-white text-opacity-95 text-left h-96"
    id="sub-header"
  >
    <!-- info box -->
    <div
      class="bg-synth-pink-2 p-4 -ml-12 -mt-6 rounded-lg max-w-md z-10 overflow-hidden md:p-5"
    >
      <h1
        class="text-4xl font-lighter text-zinc-700 uppercase rounded-sm bg-white tracking-tight mb-2 p-1 md:text-5xl"
      >
        {title}
      </h1>
      <h2 class="text-xl font-light text-synth-yellow mb-4 md:text-2xl">
        {subtitle}
      </h2>
      <p class="text-white leading-relaxed" set:html={description} />
    </div>

    <!-- image boxes -->
    <div class="bg-synth-blue -rotate-12 mb-20 rounded-lg hidden sm:block">
      <div class="bg-synth-purple border-2 border-synth-black rotate-45 rounded-lg py-20">
        <Image
          src={image}
          class="bg-synth-black border-2 border-synth-black shadow-md shadow-slate-900 mx-8 -mt-24 ml-6 -mb-6 rounded-full"
          id="header-image"
          alt={alt || "header image"}
          width={150}
          height={150}
          format="webp"
        />
      </div>
    </div>
  </div>


<ChevronDoubleDownIcon id="menu-toggle" className="ml-auto mr-3 h-8 text-synth-black opacity-40 transition"/>
</div>

<script>
  const menuToggle = document.getElementById("menu-toggle");
  const header = document.getElementById("header");
  const subHeader = document.getElementById("sub-header");
  if (!menuToggle || !header || !subHeader) throw new Error("Missing elements");

  menuToggle.addEventListener("click", () => {
    header.classList.toggle("bg-synth-blue");
    header.classList.toggle("bg-synth-purple");
    header.classList.toggle("top-0");
    header.classList.toggle("-top-96");
    header.classList.toggle("-mb-80");

    subHeader.classList.toggle("opacity-0");
    menuToggle.classList.toggle("opacity-40");
    menuToggle.classList.toggle("opacity-90");
    menuToggle.classList.toggle("rotate-180");
  });
</script>

<style>
  #header,
  #sub-header {
    transition: all 1s ease-in-out;
  }
  #header-image {
    transform: rotate(-32deg);
  }
</style>
