---
---

<li
<<<<<<< HEAD
  class="flex justify-center items-center px-2 h-6 font-mono text-xs tracking-wide leading-snug uppercase rounded-md text-synth-green/50 bg-synth-purple"
=======
  class="flex justify-center items-center px-2 h-6 font-mono text-xs tracking-wide leading-snug uppercase rounded-md text-synth-green/60 bg-synth-purple"
>>>>>>> 399d583ae03a1c334a5dd054debc9eba1019e7dd
>
  <slot />
</li>
