---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout
  title={frontmatter.title}
  description={frontmatter.description}
  type="article"
>
  <main class="px-8 pt-16 mx-auto mb-4 max-w-6xl sm:pt-24 lg:px-16">
    <a
      href="/blog"
      class="mx-auto text-md underline transition decoration-2 decoration-synth-pink-2 hover:decoration-synth-green"
      >‹ Back to blog</a
    >
    <article
      class={`mx-auto
      mt-8
      pb-12
      prose
      text-white/80
      prose-headings:text-white/80
      prose-h1:text-synth-yellow/80
      prose-h1:bg-synth-pink
      prose-h1:p-0.5
      prose-a:text-synth-blue
      prose-strong:text-white/90
      prose-code:text-synth-orange/50
      prose-img:rounded-2xl
      marker:prose-li:text-white/90
      prose-li:text-white/90
      prose-ul:text-white/90
      prose-ol:text-white/90
      prose-pre:rounded-2xl
      prose-pre:border-[1px]
      prose-pre:border-synth-pink/30
      prose-img:mx-auto
      prose-img:shadow-md
      prose-video:mx-auto
     prose-p:text-white/80`}
    >
      <slot />
    </article>
  </main>
</Layout>
